body {
    background-color: gold;
    text-align: center;
}

#batata {
    background-color: cornsilk;
    color: var(--bs-primary);
}

canvas {
    border: 5px solid gold;
    /* dashed dotted*/
    border-radius: 20px;
    margin-top: 50px;
    animation-name: abacate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes abacate {
    from {
        box-shadow: 0 0 40px var(--bs-primary);
    }
    to {
        box-shadow: 0 0 40px var(--bs-danger);
    }
}